
.button-primary {
    background-color: var(--color-primary);
    border-radius: 44px;
    border: none;
    height: 44px;
    width: 200px;
    color:white;
    margin: 0 auto;
    margin-bottom: var(--space-medium);
    cursor: pointer;
}

.button-primary:hover {
    background-color: #004a8a;
  }  

.button-secondary {
    background-color: white;
    border:none;
    cursor: pointer;
}