@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body {
  margin: 0;
}

.App {
  font-family: "Noto Sans", sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}


.header img {
  width: 100px;
  margin: var(--space-medium);
}

li ul {
    text-decoration: none;
}

@media (min-width: 750px) {
    .App {
      max-width: 960px;
      margin: 0 auto;
    } 

    .header img {
        width: 200px; }

}